.card {
    @include box-shadow;
    margin: 0 0 10px;
    padding: 20px;
    border: 1px solid $color-grey;
    border-radius: 5px;
    background-color: $color-white;

    // Remind mixin-media-query
    // @include media-query-under('phone-lg') {
    //     background-color: green;
    // }
}

.card-link {
    cursor: pointer;

    &:hover {
        @include card-hover;
    }
}

.card-title {
    margin: 0 0 15px;
    color: $color-primary;
}

.item-details {
    @include card-hover;
    padding: 20px;
    border-radius: 5px;
}
