.card {
    @include box-shadow;
    margin: 0 0 10px;
    padding: 20px;
    border: 1px solid $grey;
    border-radius: 5px;
    background-color: $white;

    // @include media-phone-lg {
    //     background-color: green;
    // }

    // @include media-phone-md {
    //     background-color: blue;
    // }

    // @include media-phone-sm {
    //     background-color: red;
    // }

}

.card-link {
    cursor: pointer;

    &:hover {
        @include card-hover;
    }
}

.card-title {
    margin: 0 0 15px;
    color: $blue;
}

.item-details {
    @include card-hover;
    padding: 20px;
    border-radius: 5px;
}
