$color-primary: rgb(0, 115, 185);
$color-primary-hover: rgb(0, 95, 160);
$color-secondary: rgb(0, 180, 185);
$color-secondary-hover: rgb(0, 160, 165);
$color-accent: rgb(255, 215, 65);
$color-accent-hover: rgb(255, 195, 0);
$color-warn: rgb(245, 65, 55);
$color-secondary-transparent: rgba(255, 215, 65, 0.1);
$color-white: rgb(255, 255, 255);
$color-grey: rgb(220, 220, 220);
$color-grey-light: rgb(250, 250, 250);
$color-grey-light-hover: rgb(253, 253, 253);
$color-grey-dark: rgb(200, 200, 200);
$color-black: rgb(50, 50, 50);

$bg-gradient: linear-gradient(
    to right,
    $color-secondary-transparent,
    $color-accent,
    $color-primary,
    $color-primary,
    $color-accent,
    $color-secondary-transparent
);

$color-shadow: (
    '1': rgba(0, 0, 0, 0.20),
    '2': rgba(0, 0, 0, 0.14),
    '3': rgba(0, 0, 0, 0.12)
);

// Remind function
// @function set-text-color($bg-color) {
//     @if (lightness($bg-color) > 40%) {
//         @return $color-black;
//     } @else {
//         @return $color-white;
//     }
// }
