
.app-container {
    min-width: 250px;
    max-width: 800px;
    margin: 0 auto;
}

.header-wrapper {
    text-align: center;

    h1 {
        font-size: 1.6rem;
    }
}

.tools-wrapper {
    display: flex;
    justify-content: space-between;
}
