.app-container {
    min-width: 250px;
    max-width: 600px;
    margin: 0 auto;
}

.active-app-nav-link {
    color: $blue;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}
