.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-item {
    width: 32%;

    a {
        &:focus,
        &:hover {
            .card {
                @include card-hover;
            }

            .card-header {
                color: $color-primary-hover;
            }
        }
    }

    @include media-query-under('tablet-sm') {
        width: 48.8%;
    }

    @include media-query-under('phone-lg') {
        width: 100%;
    }
}
