@mixin card-hover {
    border: 1px solid $color-grey-dark;
    background-color: $color-grey-light-grey-hover;
    box-shadow: none;
}

@mixin box-shadow {
    box-shadow:
    0 2px 1px -1px map-get($color-shadow-card, '1'),
    0 1px 1px 0 map-get($color-shadow-card, '2'),
    0 1px 3px 0 map-get($color-shadow-card, '3');
}

@mixin first-letter-color {
    &::first-letter {
        color: $color-primary;
        font-size: 2rem;
        text-transform: uppercase;
    }
}

@mixin media-query-under ($breakpoint-name) {
    @media only screen and (max-width: map-get($breakpoint, $breakpoint-name)) {
        @content;
    }
}
