.app-nav-links-wrapper {
    font-size: 1.1rem;

    a {
        margin: 0 10px 0 0;

        &:hover {
            &:not(.active) {
                color: $color-primary;
            }
        }
    }

    .active {
        color: $color-black;
        font-weight: 700;
    }
}
